/* .navbar_background {
  background-color: #5a60ea;
} */

.content_margin {
  margin: 0 5% 0 5%;
}

.color_text {
  color: white;
}

/* .nav-link:hover {
  color: #ff6dcd;
} */

/* .button_color {
  background-color: #ff6dcd;
} */

.button_color:hover {
  background-color: #5a60ea;
  color: white;
}

.projects_background {
  background-color: transparent;
  background-image: linear-gradient(rgba(119,117,255,.2),rgba(128,170,230,.18));
}

.project_color {
  color: orange;
}

.title_bold {
  font-weight: bold;
}

.section_padding {
  padding: 2em;
}

.left_margin {
  margin-left: 5px;
}

@media screen  and (max-width: 730px) and (min-width: 566px) {
  .left_margin {
    margin-left: 0px;
    margin-top: 5px;
  }
}
